<div class="mt-sm">
    <%= question.body%>
</div>

<div class="text sm question-footer">
    <div class="text-grey">
        <%= l(question.created_at, format: :short)%>
    </div>

    <div>
        <%= link_to "Edit", edit_question_path(question), class: "button button-main" %>
        <%= button_to "Delete", question_path(question), method: :delete, class: "button button-main" %>
    </div>
</div>
