<div class="conteiner">
    <h2 class="title-lg mb">Question Details</h2>

    <%= render "question", question: @question%>

    <p class="mt"><%= link_to "All questions", questions_path%> </p>
</div>