.message{
    border: 1px solid #d0d0d0;
    padding: 10px 15px;
}
.message-notice{
    background-color: #ffeec2;
    border-color: #ffba08;
}
.message-error{
    background-color: #ffd6d6;
    border-color: #ff0000;
}