body {
    color: #03071E;
    font-family: "Trebuchet MS", sans-serif;
}
a{
    color: #DC2F02;
    text-decoration: none;
}
.title-lg{
    font-size: 175%;
}
.title, .title-md{
    font-size: 150%;
}
.title-sm{
    font-size: 125%;
}
.text-sm{
    font-size: 80%;
}
.text-grey{
    color: #a0a0a0;
}
.text-red{
    color: #DC2F02;
}